body{

}
header {
box-sizing: border-box;
}
h1 {
	left: 10%;
}
}
section {
	position: relative;
	display: block;
	
	background-color:#A46b6a;
}
nav {
	position: absolute;
	float: right;
	background-color: 
}