
html{
	background-color: white;
}
#container{
	margin-left: auto;
	margin-right:auto;
	background-image:;
}

header {
	background-color: rgba(59, 29, 13, 0.88);
	/*box-sizing: border-box;*/
	color: #D2691E;
	display:static;
	margin-bottom: 20px;
	height:130px;
}

nav {
	background-color: rgba(59, 29, 13, 0.88);
	color: #D2691E;
	border: 5px solid #D2691E;
	float: right;
	padding:20px;
	display:static;
	width: 100px;
	margin: 10px;
	margin-right: 30px;

	}
nav ul {
	list-style-type: none;
	padding: 0;
}
nav a:link {
	color: #7FFFD4;
}
nav a:hover{

}

nav a:visited {
	color:#83A3E6;
}

nav li {
	padding:5px;
}
/*#blog-header-image {
	position:absolute;
	width:240px;
	height:160px;
	right: 0;
	display:inline-block;
}*/
h1 {
	left: 10%;
}
h3 {
	left: 15%;
}

h2 {
	font-size: 50px;
}
section {
	background-color: #B0E0E6;
	display:static;
	margin-right: 200px;
	font-size: 20px;
}



footer {
	position:static;
	padding: 20px;
	height: 60px;
	clear:right;
	margin-top: 20px;
	background-color: rgba(59, 29, 13, 0.88);
	color: #D2691E;

}