html {
	border-color: #572827;
    margin: 0px;
    background-color: #295739;
}
body {
	border-color: #572827;
    margin: 0px;
    background-color: #295739;
}
header {
	background-color: #4fa46b;
    display: block;
    /*border: 10px solid #572827;*/
    /*position: fixed;*/
    width: 100%;
    z-index: 1;
}
header a {
    text-decoration: none;
}
#headshot {
	position: absolute;
    width: 12em;
    margin: 5px;
    height: 120px;
    left: 100px;

}
/*#linkedin {
    position:absolute;
    width: 3em;
    height: 3em;
}*/
h1 {
	font-size: 70px;
    font-family: monospace;
    position: relative;
    display: block;
    left: 40%;
    margin: auto;
}
h3 {
	display: block;
    font-size: 30px;
    position: relative;
    left: 45%;
    padding-bottom: 15px;
    margin: auto;
}
section {
	background-color: #74f09d;
    display: block;
    height: 100%;
    padding: 40px;
    margin: 30px;
    margin-bottom: 130px;
    box-sizing: border-box;
}
nav {
	background-color: #74f09d;
    display: block;
    box-sizing: border-box;
}
nav table {
    margin: auto;
    padding: 20px 3em;
    font-size: x-large;
    width: 100%;
}

nav td {
text-align: center;
}
nav a {
    text-decoration: none;
}
/*nav ul {
	list-style-type: none;
    position: absolute;
}
nav ul li {
	border: 2px solid #a46b6a;
    margin: 10px auto;
    padding: 5px;
}*/
footer {
	bottom: 0;
    display: block;
    position: fixed;
    height: 100px;
    background-color: #4fa46b;
    width: 100%;
    padding:20px, auto;
}
footer ul{
    display:inline-block;
    height:50px;
}
footer table {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    margin: auto 25px;
}

table img {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
/*footer ul li img{
    display: inline-block;
    max-height:50;
    width:50;
}*/
h6:first-child {
	font-size: large;
    margin: 5px;
}