html {
    border-color: #572827;
    margin: 0px;
    /*background-color: #295739;*/
}
body {
    /*border-color: #572827;*/
    padding: 20px;
    /*background-color: #295739;*/
    background-image: url(../imgs/stones.jpg);
}
header {
    background-color: #4fa46b;
    /*display: block;*/
    /*border: 10px solid #572827;*/
    /*position: fixed;*/
    width: 100%;
    z-index: 1;
    margin: 20px, 20px, 0px, 20px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
header a {
    text-decoration: none;
}
#headshot {
    position: absolute;
    width: 12em;
    margin: 5px;
    height: 120px;
    left: 100px;

}
/*#linkedin {
    position:absolute;
    width: 3em;
    height: 3em;
}*/
h1 {
    font-size: 70px;
    font-family: monospace;
    position: relative;
    display: block;
    left: 40%;
    margin: auto;
}
h3 {
    display: block;
    font-size: 30px;
    position: relative;
    left: 45%;
    padding-bottom: 15px;
    margin: auto;
}
section {
    background-color: #F2F2B5;
    display: block;
    height: 100%;
    padding: 40px;
    margin: 30px;
    margin-bottom: 80px;

    /*box-sizing: border-box;*/
}
nav {
    background-color: #74f09d;
    display: block;
    /*box-sizing: border-box;*/
}
nav table {
    margin: auto;
    padding: 20px 3em;
    font-size: x-large;
    width: 100%;
}

nav td {
text-align: center;
}
nav a {
    text-decoration: none;
}
.project{
    background-color: #9DB4DE;
    display: inline-block;
    width: 200px;
    height:200px;
    margin: 20px;
    padding: 20px;
    border: 10px solid #365997;
    border-radius:3em;

}
/*nav ul {
    list-style-type: none;
    position: absolute;
}
nav ul li {
    border: 2px solid #a46b6a;
    margin: 10px auto;
    padding: 5px;
}*/
footer {
    bottom: 0;
    display: block;
    /*position: fixed;*/
    height: 100px;
    background-color: #4fa46b;
    width: 100%;
    padding:20px, auto;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    /*left-border: 0;*/
}
footer ul{
    display:inline-block;
    height:50px;
}
footer table {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    margin: auto 25px;
}

table img {
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
/*footer ul li img{
    display: inline-block;
    max-height:50;
    width:50;
}*/
h6:first-child {
    font-size: large;
    margin: 5px;
}